body {
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
  max-width: 1440px;
  background-color: hsl(185, 75%, 39%);
  background-image: url('images/bg-pattern-top.svg'),
    url('images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-position: top 120% left -90%, 170% -70%;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5.5em;
}

article {
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  justify-self: center;
  align-self: center;
  border-radius: 0.8em;
  background-color: white;
}

img {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: flex-end;
  border: 5px solid white;
  border-radius: 100%;
  position: relative;
  top: 50px;
}

footer {
  font-size: 0.8em;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

p.lighter {
  margin-bottom: 30px;
}

span.grey {
  margin-left: 3px;
}

p:nth-of-type(1) {
  grid-column: 1/4;
  grid-row: 2;
  justify-self: center;
  margin-top: 4em;
  margin-bottom: 0;
}

p:nth-of-type(2) {
  grid-column: 1/4;
  grid-row: 3;
  justify-self: center;
  margin-top: 0.3em;
}

.grey {
  color: hsl(227, 10%, 46%);
}
.small {
  font-size: x-small;
}
.medium {
  font-size: small;
}
.lighter {
  font-weight: lighter;
}

.profile-detail-box-1 p,
.profile-detail-box-2 p,
.profile-detail-box-3 p {
  margin-top: 0;
  justify-self: center;
  text-align: center;
}

.empty {
  grid-column: 1/4;
  grid-row: 4;
  border-bottom: 0.05em solid hsla(227, 10%, 46%, 0.2);
  margin-bottom: 1.1em;
}

.profile-detail-box-1 {
  grid-column: 1;
  grid-row: 5;
}

.profile-detail-box-2 {
  grid-column: 2;
  grid-row: 5;
}

.profile-detail-box-3 {
  grid-column: 3;
  grid-row: 5;
}

.bg-card {
  grid-column: 1/4;
  grid-row: 1;
  background-image: url('images/bg-pattern-card.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.9em;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
}

@media screen and (max-width: 500px) {
  body {
    background-image: url('images/bg-pattern-top.svg'),
      url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-position: top -11.1em left -10.625em, 11.1em 21em;
  }

  main {
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    margin: 5.5em;
  }
}
